header {
  position: fixed;
  height: 80px;
  width: 100vw;
  background-color: white;
  z-index: 16;
}

header nav {
  display: flex;
  height: 100%;
  width: auto;
  background-color: inherit;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: .05rem solid rgb(35, 35, 35);
}

header nav h1 {
  padding-right: 3%;
  font:  30px/1.15em raleway,sans-serif;
  text-align: center;
}

header nav img {
  height: 100%;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 12%;
  list-style: none;
  padding-left: 0;
}



.nav-button {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  .bar1, .bar2, .bar3 {
      width: 25px;
      height: 4px;
      background-color: rgb(35, 35, 35);
      margin: 3px 0;
      transition: 0.4s;
      border-radius: 1px;
  };
}

.nav-open .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.nav-open .bar2 {opacity: 0;}

.nav-open .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  color: rgb(35, 35, 35);
  background-color: rgba(200, 200, 200, 0.5);
}

.nav-item.active {
  color: darkviolet;
}

.site-content {
  margin-top: 80px;
  padding-top: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Home Page */
.splash-image {
  width: 95%;
  height: auto;
  margin-bottom: 25px;
}

/* Creations Page */
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.image-column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.image-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-attributes {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 8px;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-title {
  font-weight: 600;
  font-size: 1.3rem;
}

.image-year {
  font-weight: 200;
  font-size: 0.5rem;
}

.image-medium {
  font-weight: 400;
  font-size: .8rem;
}

.image-statement {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.0;
  text-overflow: ellipsis;
}

.image-container:hover .image-attributes {
  opacity: 1;
}

/* About page */
.about-headshot {
  width: 40%;
  clip-path: circle();
  margin: 15px;
}

.headshot-caption {
  font-weight: 200;
  font-size: .6rem;
  color: #777;
}

.bio {
  line-height: 1.1;
  text-align: justify;
  padding: 25px;
}

/* Contact Form */
.contact-form {
  width: 95%;
  height: auto;
}

.contact-form h1 {
  margin: 20px 20px 0 20px;
}

.contact-form #message, #subject {
  width: 95%;
  padding: 20px 0 20px 20px;
  margin: 10px 20px 0 20px;
  border-radius: 5px;
  border: 1px solid rgb(255, 166, 242);
  box-shadow:  1px 1px rgb(255, 166, 242),
  3px 2px 2px rgb(255, 0, 238);             
}

.contact-form button {
  margin: 0 0 20px 20px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(112, 255, 255);
  box-shadow:  1px 1px rgb(112, 255, 255),
  3px 2px 2px rgb(0, 72, 255); 
  font-weight: 600;
}

.contact-form button:hover {
  background-color:rgb(184, 255, 255);
  font-style: oblique;
}

@media only screen and (min-width: 600px) {
  .image-column {
    flex: 40%;
    max-width: 49%;
  }
}

@media only screen and (min-width: 768px) {
  .site-content {
    margin-top: 80px;
  }

  .image-column {
    flex: 20%;
    max-width: 25%;
  }
}