header {
  position: fixed;
  height: 80px;
  width: 100vw;
  background-color: white;
}

header nav {
  display: flex;
  height: 100%;
  width: auto;
  background-color: inherit;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: .05rem solid rgb(35, 35, 35);
}

header nav h1 {
  padding-left: 3%;
  font:  30px/1.15em raleway,sans-serif;
  text-align: center;
}

header nav img {
  height: 100%;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 12%;
  list-style: none;
  padding-left: 0;
}



.nav-button {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  .bar1, .bar2, .bar3 {
      width: 25px;
      height: 4px;
      background-color: rgb(35, 35, 35);
      margin: 3px 0;
      transition: 0.4s;
      border-radius: 1px;
  };
}

.nav-open .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.nav-open .bar2 {opacity: 0;}

.nav-open .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover {
  color: rgb(35, 35, 35);
  background-color: rgba(200, 200, 200, 0.5);
}

.nav-item.active {
  color: darkviolet;
}

.site-content {
  margin-top: 80px;
  padding-top: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .site-content {
    margin: 80px 20px 0 20px;
  }
}