:root {
  font-family: raleway,Arial,Helvetica,sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font_1: normal normal normal 22px/1.79rem raleway,sans-serif;
  --font_2: normal normal normal 28px/1.375rem raleway,sans-serif;
}

@font-face {
  font-family: "raleway";
  src: url("/Raleway-VariableFont_wght.ttf");
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: auto;
  background-color: white;
}

#root{
  width: 100%;
}
